<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cupcake Premium Admin Template</title>
	
    <!-- Reset -->
    <link rel="stylesheet" type="text/css" href="style/reset.css" /> 
    <!-- Main Style File -->
    <link rel="stylesheet" type="text/css" href="style/root.css" /> 
    <!-- Grid Styles -->
    <link rel="stylesheet" type="text/css" href="style/grid.css" /> 
    <!-- Typography Elements -->
    <link rel="stylesheet" type="text/css" href="style/typography.css" /> 
    <!-- Jquery UI -->
    <link rel="stylesheet" type="text/css" href="style/jquery-ui.css" />
    <!-- Jquery Plugin Css Files Base -->
    <link rel="stylesheet" type="text/css" href="style/jquery-plugin-base.css" />
    
    <!--[if IE 7]>	  <link rel="stylesheet" type="text/css" href="style/ie7-style.css" />	<![endif]-->
    
    <!-- jquery base -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.11.custom.min.js"></script>
    <!-- jquery plugins settings -->
	<script type="text/javascript" src="js/jquery-settings.js"></script>
    <!-- toggle -->
	<script type="text/javascript" src="js/toogle.js"></script>
    <!-- tipsy -->
	<script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <!-- uniform -->
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
    <!-- Jwysiwyg editor -->
	<script type="text/javascript" src="js/jquery.wysiwyg.js"></script>
    <!-- table shorter -->
	<script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <!-- raphael base and raphael charts -->
	<script type="text/javascript" src="js/raphael.js"></script>
	<script type="text/javascript" src="js/analytics.js"></script>
	<script type="text/javascript" src="js/popup.js"></script>
    <!-- fullcalendar -->
	<script type="text/javascript" src="js/fullcalendar.min.js"></script>
    <!-- prettyPhoto -->
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <!-- Jquery.UI Base -->
	<script type="text/javascript" src="js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
    <!-- Slider -->
	<script type="text/javascript" src="js/jquery.ui.slider.js"></script>
    <!-- Date Picker -->
	<script type="text/javascript" src="js/jquery.ui.datepicker.js"></script>
    <!-- Tabs -->
	<script type="text/javascript" src="js/jquery.ui.tabs.js"></script>
    <!-- Accordion -->
	<script type="text/javascript" src="js/jquery.ui.accordion.js"></script>
    <!-- Google Js Api / Chart and others -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Date Tables -->
	<script type="text/javascript" src="js/jquery.dataTables.js"></script>
	
        
    
</head>
<body>
<div class="wrapper">




	<!-- START HEADER -->
    <div id="header">
    
    
    	<!-- logo -->
    	<div class="logo">	<a href="index.html"><img src="img/logo.png" width="112" height="35" alt="logo"/></a>	</div>
        
        
        <!-- notifications -->
        <div id="notifications">
        	<a href="index.html" class="qbutton-left"><img src="img/icons/header/dashboard.png" width="16" height="15" alt="dashboard" /></a>
        	<a href="#" class="qbutton-normal tips"><img src="img/icons/header/message.png" width="19" height="13" alt="message" /> <span class="qballon">23</span> </a>
        	<a href="#" class="qbutton-right"><img src="img/icons/header/support.png" width="19" height="13" alt="support" /> <span class="qballon">8</span> </a>
          <div class="clear"></div>
        </div>
        
        
        <!-- quick menu -->
        <div id="quickmenu">
        	<a href="#" class="qbutton-left tips" title="Add a new post"><img src="img/icons/header/newpost.png" width="18" height="14" alt="new post" /></a>
        	<a id="open-stats" href="#" class="qbutton-right tips" title="Statistics"><img src="img/icons/header/graph.png" width="17" height="15" alt="graph" /></a>
            <div class="clear"></div>
        </div>
        
        
        <!-- profile box -->
        <div id="profilebox">
        	<a href="#" class="display">
            	<img src="img/simple-profile-img.jpg" width="33" height="33" alt="profile"/>	<b>Logged in as</b>	<span>Administrator</span>
            </a>
            
            <div class="profilemenu">
            	<ul>
                	<li><a href="#">Account Settings</a></li>
                	<li><a href="#">Logout</a></li>
                </ul>
            </div>
            
        </div>
        
        
        <div class="clear"></div>
    </div>
    <!-- END HEADER -->
    
    
    
    
    
    
    
    
    
    <!-- START MAIN -->
    <div id="main">
    
		
        
        
        
        <!-- START SIDEBAR -->
        <div id="sidebar">
        	
            <!-- start searchbox -->
            <div id="searchbox">
            	<div class="in">
               	  <form id="form1" name="form1" method="post" action="">
                  	<input name="textfield" type="text" class="input" id="textfield" onfocus="$(this).attr('class','input-hover')" onblur="$(this).attr('class','input')"  />
               	  </form>
            	</div>
            </div>
            <!-- end searchbox -->
            
            <!-- start sidemenu -->
            <div id="sidemenu">
            	<ul>
                	<li><a href="index.html"><img src="img/icons/sidemenu/laptop.png" width="16" height="16" alt="icon"/>Dashboard</a></li>
                    <li><a href="form-elements.html"><img src="img/icons/sidemenu/copy.png" width="16" height="16" alt="icon"/>Form Elements</a></li>
                    <li><a href="table-chart.html"><img src="img/icons/sidemenu/user.png" width="16" height="16" alt="icon"/>Table &amp; Chart</a></li>
                	<li><a href="interface-elements.html"><img src="img/icons/sidemenu/lock.png" width="16" height="16" alt="icon"/>Interface Elements</a></li>
                    <li><a href="typography.html"><img src="img/icons/sidemenu/file_edit.png" width="16" height="16" alt="icon"/>Typography	</a></li>
                    <li class="active"><a href="gallery.html"><img src="img/icons/sidemenu/image.png" width="16" height="16" alt="icon"/>Gallery &amp; Media 	<span class="ballon">9</span>	</a></li>
                    <li><a href="widgets.html"><img src="img/icons/sidemenu/star.png" width="16" height="16" alt="icon"/>Widgets</a></li>
                    
                    <!-- start submenu with icon -->
                    <li class="subtitle">
                    	<a class="action tips-right" href="#" title="Submenu with icon"><img src="img/icons/sidemenu/mail.png" width="16" height="16" alt="icon"/>Submenu<img src="img/arrow-down.png" width="7" height="4" alt="arrow" class="arrow" /></a>
                    	<ul class="submenu">
                        <li><a href="#"><img src="img/icons/sidemenu/magnify.png" width="16" height="16" alt="icon"/>Search File</a></li>
                        <li><a href="#"><img src="img/icons/sidemenu/print.png" width="16" height="16" alt="icon"/>New Files	<span class="ballon">693</span>	</a></li>
                        <li><a href="#"><img src="img/icons/sidemenu/trash.png" width="16" height="16" alt="icon"/>Others	<span class="ballon">4</span>	</a></li>
                        </ul>
                    </li>
                    <!-- end submenu with icon -->

                    <li><a href="error-pages.html"><img src="img/icons/sidemenu/comment.png" width="16" height="16" alt="icon"/>Error Pages</a></li>
                    <li><a href="buttons-icons.html"><img src="img/icons/sidemenu/arrow_down.png" width="16" height="16" alt="icon"/>Button &amp; Icons</a></li>
                    <li><a href="grid-styles.html"><img src="img/icons/sidemenu/file.png" width="16" height="16" alt="icon"/>Grid Styles	<span class="ballon">67</span>	</a></li>
                    <li><a href="alert-dialog-boxes.html"><img src="img/icons/sidemenu/attach.png" width="16" height="16" alt="icon"/>Alert &amp; Dialog Boxes</a></li>
                    <li><a href="calendar.html"><img src="img/icons/sidemenu/calendar.png" width="16" height="16" alt="icon"/>Calendar</a></li>
                    
                    <!-- start submenu without icon -->
                    <li class="subtitle">
                    	<a class="action" href="#"><img src="img/icons/sidemenu/download.png" width="16" height="16" alt="icon"/>Submenu Text<img src="img/arrow-down.png" width="7" height="4" alt="arrow" class="arrow" /> </a>
                    	<ul class="submenu">
                        <li><a href="#">Search File</a></li>
                        <li><a href="#">New Files	<span class="ballon">693</span>	</a></li>
                        <li><a href="#">Others	<span class="ballon">4</span>	</a></li>
                        </ul>
                    </li>
                    <!-- end submenu without icon -->
                    
                </ul>
            </div>
            <!-- end sidemenu -->
            
        </div>
        <!-- END SIDEBAR -->
        
        
        
        
        
        
        
        <!-- START PAGE -->
        <div id="page">
        	
            	<!-- start stats -->
                <div id="stats">
                    <!-- use it up/down on <b> tag for different colors -->
                	<div class="column">	<b>$326.45</b>	Earnings of today</div>
                	<div class="column">	<b>$96.25</b>	Earnings of last hour</div>
                	<div class="column">	<b>23.695</b>	Total Sales</div>
                	<div class="column">	<b class="down">46.230</b>	Active Comments</div>
                    <!-- this is last column -->
                	<div class="column last">	<b class="up">$3.928</b>	every per hours</div>
                    <a href="#" title="Close Stats" class="close tips">close</a>
                    <img src="img/icons/mini/stats-arrow-top.png" width="17" height="9" alt="arrow" class="arrow" />
                </div>
                <!-- end stats -->
            	
                
                <!-- start page title -->
                <div class="page-title">
                	<div class="in">
                    		<div class="titlebar">	<h2>GALLERY &amp; MEDIA</h2>	<p>Show your images &amp; videos</p></div>
                            
                            <div class="shortcuts-icons">
                            	<a class="shortcut tips" href="#" title="Refresh"><img src="img/icons/shortcut/refresh.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Dashboard"><img src="img/icons/shortcut/dashboard.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Add New Item"><img src="img/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Search on This Page"><img src="img/icons/shortcut/search.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Information for this page"><img src="img/icons/shortcut/question.png" width="25" height="25" alt="icon" /></a>
                            </div>
                            
                            <div class="clear"></div>
                    </div>
                </div>
                <!-- end page title -->
                
                
                
                
                
                
                
                	<!-- START CONTENT -->
                    <div class="content">
                    
                    	
                       
                       
		<!-- Start Important prettyPhoto Js Codde -->
		<script type="text/javascript">
			$(document).ready(function(){
				$("area[rel^='prettyPhoto']").prettyPhoto();
				
				$(".get-photo a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true});
				$(".get-photo a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
		
				$("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
					custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
					changepicturecallback: function(){ initialize(); }
				});

				$("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
					custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
					changepicturecallback: function(){ _bsap.exec(); }
				});
			});
		</script>
		<!-- End Important prettyPhoto Js Codde -->
                        
                        
                       <!-- Start Photos --> 
                       <div class="grid740">
                       	
                        <div class="simpletitle">
                        	<h3>Photos (62)</h3>
                            <div class="shortcuts-icons">	
                            	<a class="shortcut tips" href="#" title="Information for this item"><img src="img/icons/shortcut/question.png" width="25" height="25" alt="icon" /></a>	
                            	<a class="shortcut tips" href="#" title="Upload a new photo"><img src="img/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>	
                            </div>
                        </div>
                        
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo1.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo2.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo3.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo4.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo5.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo6.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo7.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="img/simple/photo-full.jpg" rel="prettyPhoto" title=""><img src="img/simple/photo8.jpg" width="175" height="110" alt="Simple_Photo_6548.jpg"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        
                        
                        <div class="clear"></div>
                       </div>
                       <!-- End Photos --> 	
                    
                    	
                        
                        
                        
                       <!-- Start Videos --> 
                       <div class="grid740">
                       	
                        <div class="simpletitle">
                        	<h3>Videos (22)</h3>
                            <div class="shortcuts-icons">	
                            	<a class="shortcut tips" href="#" title="Information for this item"><img src="img/icons/shortcut/question.png" width="25" height="25" alt="icon" /></a>	
                            	<a class="shortcut tips" href="#" title="Upload a new video"><img src="img/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>	
                            </div>
                        </div>
                        
                        
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/video2.jpg" width="175" height="110" alt="Video Title"/></a><p>Video_6548.avi</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/video1.jpg" width="175" height="110" alt="Video Title"/></a><p>Video_6548.avi</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/video3.jpg" width="175" height="110" alt="Video Title"/></a><p>Video_6548.avi</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/video4.jpg" width="175" height="110" alt="Video Title"/></a><p>Video_6548.avi</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/photo5.jpg" width="175" height="110" alt="Video Title"/></a><p>Video_6548.avi</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/photo2.jpg" width="175" height="110" alt="Video Title"/></a><p>Video_6548.avi</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/photo1.jpg" width="175" height="110" alt="Video Title"/></a><p>Video_6548.avi</p>
                        	</div>
                        
                        	<div class="get-photo">
                        		<div class="buttons">	<a href="#" class="mini-delete">Delete</a>	<a href="#" class="mini-edit">Edit</a>	<div class="clear"></div></div>
                        		<a href="http://www.youtube.com/watch?v=pkqzFUhGPJg" rel="prettyPhoto" title=""><img src="img/simple/photo3.jpg" width="175" height="110" alt="Video Title"/></a><p>Simple_Photo_6548.jpg</p>
                        	</div>
                        
                        
                        
                        <div class="clear"></div>
                       </div>
                       <!-- End Videos --> 	
                    
                    
                    
                    </div>
                    <!-- END CONTENT -->
                
            
            
            
            
            
            
        </div>
        <!-- END PAGE -->











    <div class="clear"></div>
    </div>
    <!-- END MAIN -->
    
    
    
    
    
    
    <!-- START FOOTER -->
    <div id="footer">
    	<div class="left-column">© Copyright 2012 - All rights reserved.</div>
        <div class="right-column">Cupcake theme by <a href="http://themeforest.net/user/egemem" target="_blank">egemem</a></div>
    </div>
    <!-- END FOOTER -->
    
    
    
    





</div>
</body>
</html>
