<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cupcake Premium Admin Template</title>
	
    <!-- Reset -->
    <link rel="stylesheet" type="text/css" href="style/reset.css" /> 
    <!-- Main Style File -->
    <link rel="stylesheet" type="text/css" href="style/root.css" /> 
    <!-- Grid Styles -->
    <link rel="stylesheet" type="text/css" href="style/grid.css" /> 
    <!-- Typography Elements -->
    <link rel="stylesheet" type="text/css" href="style/typography.css" /> 
    <!-- Jquery UI -->
    <link rel="stylesheet" type="text/css" href="style/jquery-ui.css" />
    <!-- Jquery Plugin Css Files Base -->
    <link rel="stylesheet" type="text/css" href="style/jquery-plugin-base.css" />
    
    <!--[if IE 7]>	  <link rel="stylesheet" type="text/css" href="style/ie7-style.css" />	<![endif]-->
    
    <!-- jquery base -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.11.custom.min.js"></script>
    <!-- jquery plugins settings -->
	<script type="text/javascript" src="js/jquery-settings.js"></script>
    <!-- toggle -->
	<script type="text/javascript" src="js/toogle.js"></script>
    <!-- tipsy -->
	<script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <!-- uniform -->
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
    <!-- Jwysiwyg editor -->
	<script type="text/javascript" src="js/jquery.wysiwyg.js"></script>
    <!-- table shorter -->
	<script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <!-- raphael base and raphael charts -->
	<script type="text/javascript" src="js/raphael.js"></script>
	<script type="text/javascript" src="js/analytics.js"></script>
	<script type="text/javascript" src="js/popup.js"></script>
    <!-- fullcalendar -->
	<script type="text/javascript" src="js/fullcalendar.min.js"></script>
    <!-- prettyPhoto -->
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <!-- Jquery.UI Base -->
	<script type="text/javascript" src="js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
    <!-- Slider -->
	<script type="text/javascript" src="js/jquery.ui.slider.js"></script>
    <!-- Date Picker -->
	<script type="text/javascript" src="js/jquery.ui.datepicker.js"></script>
    <!-- Tabs -->
	<script type="text/javascript" src="js/jquery.ui.tabs.js"></script>
    <!-- Accordion -->
	<script type="text/javascript" src="js/jquery.ui.accordion.js"></script>
    <!-- Google Js Api / Chart and others -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Date Tables -->
	<script type="text/javascript" src="js/jquery.dataTables.js"></script>
	
        
    
</head>
<body>
<div class="wrapper">




	<!-- START HEADER -->
    <div id="header">
    
    
    	<!-- logo -->
    	<div class="logo">	<a href="index.html"><img src="img/logo.png" width="112" height="35" alt="logo"/></a>	</div>
        
        
        <!-- notifications -->
        <div id="notifications">
        	<a href="index.html" class="qbutton-left"><img src="img/icons/header/dashboard.png" width="16" height="15" alt="dashboard" /></a>
        	<a href="#" class="qbutton-normal tips"><img src="img/icons/header/message.png" width="19" height="13" alt="message" /> <span class="qballon">23</span> </a>
        	<a href="#" class="qbutton-right"><img src="img/icons/header/support.png" width="19" height="13" alt="support" /> <span class="qballon">8</span> </a>
          <div class="clear"></div>
        </div>
        
        
        <!-- quick menu -->
        <div id="quickmenu">
        	<a href="#" class="qbutton-left tips" title="Add a new post"><img src="img/icons/header/newpost.png" width="18" height="14" alt="new post" /></a>
        	<a id="open-stats" href="#" class="qbutton-right tips" title="Statistics"><img src="img/icons/header/graph.png" width="17" height="15" alt="graph" /></a>
            <div class="clear"></div>
        </div>
        
        
        <!-- profile box -->
        <div id="profilebox">
        	<a href="#" class="display">
            	<img src="img/simple-profile-img.jpg" width="33" height="33" alt="profile"/>	<b>Logged in as</b>	<span>Administrator</span>
            </a>
            
            <div class="profilemenu">
            	<ul>
                	<li><a href="#">Account Settings</a></li>
                	<li><a href="#">Logout</a></li>
                </ul>
            </div>
            
        </div>
        
        
        <div class="clear"></div>
    </div>
    <!-- END HEADER -->
    
    
    
    
    
    
    
    
    
    <!-- START MAIN -->
    <div id="main">
    
		
        
        
        
        <!-- START SIDEBAR -->
        <div id="sidebar">
        	
            <!-- start searchbox -->
            <div id="searchbox">
            	<div class="in">
               	  <form id="form1" name="form1" method="post" action="">
                  	<input name="textfield" type="text" class="input" id="textfield" onfocus="$(this).attr('class','input-hover')" onblur="$(this).attr('class','input')"  />
               	  </form>
            	</div>
            </div>
            <!-- end searchbox -->
            
            <!-- start sidemenu -->
            <div id="sidemenu">
            	<ul>
                	<li><a href="index.html"><img src="img/icons/sidemenu/laptop.png" width="16" height="16" alt="icon"/>Dashboard</a></li>
                    <li><a href="form-elements.html"><img src="img/icons/sidemenu/copy.png" width="16" height="16" alt="icon"/>Form Elements</a></li>
                    <li><a href="table-chart.html"><img src="img/icons/sidemenu/user.png" width="16" height="16" alt="icon"/>Table &amp; Chart</a></li>
                	<li class="active"><a href="interface-elements.html"><img src="img/icons/sidemenu/lock.png" width="16" height="16" alt="icon"/>Interface Elements</a></li>
                    <li><a href="typography.html"><img src="img/icons/sidemenu/file_edit.png" width="16" height="16" alt="icon"/>Typography	</a></li>
                    <li><a href="gallery.html"><img src="img/icons/sidemenu/image.png" width="16" height="16" alt="icon"/>Gallery &amp; Media 	<span class="ballon">9</span>	</a></li>
                    <li><a href="widgets.html"><img src="img/icons/sidemenu/star.png" width="16" height="16" alt="icon"/>Widgets</a></li>
                    
                    <!-- start submenu with icon -->
                    <li class="subtitle">
                    	<a class="action tips-right" href="#" title="Submenu with icon"><img src="img/icons/sidemenu/mail.png" width="16" height="16" alt="icon"/>Submenu<img src="img/arrow-down.png" width="7" height="4" alt="arrow" class="arrow" /></a>
                    	<ul class="submenu">
                        <li><a href="#"><img src="img/icons/sidemenu/magnify.png" width="16" height="16" alt="icon"/>Search File</a></li>
                        <li><a href="#"><img src="img/icons/sidemenu/print.png" width="16" height="16" alt="icon"/>New Files	<span class="ballon">693</span>	</a></li>
                        <li><a href="#"><img src="img/icons/sidemenu/trash.png" width="16" height="16" alt="icon"/>Others	<span class="ballon">4</span>	</a></li>
                        </ul>
                    </li>
                    <!-- end submenu with icon -->

                    <li><a href="error-pages.html"><img src="img/icons/sidemenu/comment.png" width="16" height="16" alt="icon"/>Error Pages</a></li>
                    <li><a href="buttons-icons.html"><img src="img/icons/sidemenu/arrow_down.png" width="16" height="16" alt="icon"/>Button &amp; Icons</a></li>
                    <li><a href="grid-styles.html"><img src="img/icons/sidemenu/file.png" width="16" height="16" alt="icon"/>Grid Styles	<span class="ballon">67</span>	</a></li>
                    <li><a href="alert-dialog-boxes.html"><img src="img/icons/sidemenu/attach.png" width="16" height="16" alt="icon"/>Alert &amp; Dialog Boxes</a></li>
                    <li><a href="calendar.html"><img src="img/icons/sidemenu/calendar.png" width="16" height="16" alt="icon"/>Calendar</a></li>
                    
                    <!-- start submenu without icon -->
                    <li class="subtitle">
                    	<a class="action" href="#"><img src="img/icons/sidemenu/download.png" width="16" height="16" alt="icon"/>Submenu Text<img src="img/arrow-down.png" width="7" height="4" alt="arrow" class="arrow" /> </a>
                    	<ul class="submenu">
                        <li><a href="#">Search File</a></li>
                        <li><a href="#">New Files	<span class="ballon">693</span>	</a></li>
                        <li><a href="#">Others	<span class="ballon">4</span>	</a></li>
                        </ul>
                    </li>
                    <!-- end submenu without icon -->
                    
                </ul>
            </div>
            <!-- end sidemenu -->
            
        </div>
        <!-- END SIDEBAR -->
        
        
        
        
        
        
        
        <!-- START PAGE -->
        <div id="page">
        	
            	<!-- start stats -->
                <div id="stats">
                    <!-- use it up/down on <b> tag for different colors -->
                	<div class="column">	<b>$326.45</b>	Earnings of today</div>
                	<div class="column">	<b>$96.25</b>	Earnings of last hour</div>
                	<div class="column">	<b>23.695</b>	Total Sales</div>
                	<div class="column">	<b class="down">46.230</b>	Active Comments</div>
                    <!-- this is last column -->
                	<div class="column last">	<b class="up">$3.928</b>	every per hours</div>
                    <a href="#" title="Close Stats" class="close tips">close</a>
                    <img src="img/icons/mini/stats-arrow-top.png" width="17" height="9" alt="arrow" class="arrow" />
                </div>
                <!-- end stats -->
            	
                
                <!-- start page title -->
                <div class="page-title">
                	<div class="in">
                    		<div class="titlebar">	<h2>INTERFACE ELEMENTS</h2>	<p>jQuery Interface Elements</p></div>
                            
                            <div class="shortcuts-icons">
                            	<a class="shortcut tips" href="#" title="Refresh"><img src="img/icons/shortcut/refresh.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Dashboard"><img src="img/icons/shortcut/dashboard.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Add New Item"><img src="img/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Search on This Page"><img src="img/icons/shortcut/search.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Information for this page"><img src="img/icons/shortcut/question.png" width="25" height="25" alt="icon" /></a>
                            </div>
                            
                            <div class="clear"></div>
                    </div>
                </div>
                <!-- end page title -->
                
                
                
                
                
                
                
                	<!-- START CONTENT -->
                    <div class="content">
                    		
                            
                            
                            
                        <!-- START SLIDERS -->
                        <div class="simplebox grid740">
                        	<div class="titleh"><h3>Sliders</h3></div>
                            
                            <div class="body padding20">
                           
                            
                            <!-- START NORMAL SLIDER -->
								<script type="text/javascript">
								 $(function() {
									$( "#slider" ).slider({
										value:100,
										min: 0,
										max: 500,
										step: 50,
										slide: function( event, ui ) {
											$( "#amount" ).val( "$" + ui.value );
										}
									});
									$( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
								 });
								</script>
                                
                                <label for="amount"  class="padding-bottom10">Total ($50 increments) :</label>
                                <input type="text" id="amount" class="amount-class"/>
                                <div id="slider" class="margin-top10"></div>
                            <!-- END NORMAL SLIDER -->
                                
                            <br /><br />

                            <!-- START RANGE SLIDER -->
								<script type="text/javascript">
								 $(function() {
									$( "#slider-range" ).slider({
										range: true,
										min: 0,
										max: 500,
										values: [ 75, 300 ],
										slide: function( event, ui ) {
											$( "#amount-range" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
										}
									});
									$( "#amount-range" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
										" - $" + $( "#slider-range" ).slider( "values", 1 ) );
								 });
								</script>
                                
                                <label for="amount">Price range :</label>
                                <input type="text" id="amount-range" class="amount-class"/>
                                <div id="slider-range" class="margin-top10"></div>
                            <!-- END RANGE SLIDER -->
                            
                            <br /><br />
                            
                            <!-- START MAX RANGE SLIDER -->
								<script type="text/javascript">
								$(function() {
									$( "#slider-range-max" ).slider({
										range: "max",
										min: 1,
										max: 10,
										value: 2,
										slide: function( event, ui ) {
											$( "#amount-range-max" ).val( ui.value );
										}
									});
									$( "#amount-range-max" ).val( $( "#slider-range-max" ).slider( "value" ) );
								});
								</script>
                                
                              <label for="amount">Room :</label>
                             <input type="text" id="amount-range-max" class="amount-class" />
                             <div id="slider-range-max" class="margin-top10"></div>   
                           <!-- END MAX RANGE SLIDER -->
                            
                            </div>
                            
                        </div>
                        <!-- END SLIDERS -->

                            
                            
                            
                        <!-- START Date Pickers -->
                        <div class="simplebox grid360-left">
                        	<div class="titleh"><h3>Date Pickers</h3></div>
                            
                            <div class="body padding20">
                            	
                                
                                
                        	<div class="st-tinytitle">
                            	<h3>Default date picker with input</h3>
                                <p>The datepicker is tied to a standard form input field. Click on the input ( or use the tab key with in form)</p>
                            </div>
                            <div class="padding-bottom20">
                            
                          	<!-- start default date picker -->
							<script type="text/javascript">
								$(function() {
									$( "#datepicker" ).datepicker();
								});
							</script>
                            <input type="text" id="datepicker" class="datepicker-input" style="width:180px;" />
                         	 <!-- end default date picker -->
                             
                             </div>   
                            	
                                
                                
                        	<div class="st-tinytitle">
                            	<h3>Inline date picker</h3>
                        	</div>
                            <div class="padding-bottom30">
                            
                          	<!-- start default date picker -->
							<script type="text/javascript">
								$(function() {
									$( "#datepicker-inline" ).datepicker();
								});
							</script>
                            <div id="datepicker-inline"></div>
                         	 <!-- end default date picker -->
                             
                             </div>   
                                
                                
                            </div>
                            
                        </div>
                        <!-- END Date Pickers -->



                    		
                            
                            
                            
                        <!-- START Tooltips -->
                        <div class="simplebox grid360-right">
                        	<div class="titleh"><h3>Tooltips</h3></div>
                            
                            <div class="body padding20">
                            	
                        	<div class="st-tinytitle">
                            	<h3>Tooltip Directions</h3>
                                <p>just add "tips, tips-left, tips-right, tips-bottom" on class</p>
                            </div>
                                
                                <a href="#" class="button-gray font12 tips" title="Top Message">Top</a>
                                <a href="#" class="button-gray tips-left" title="Left Message">Left</a>
                                <a href="#" class="button-gray tips-right" title="Right Message">Right</a>
                                <a href="#" class="button-gray tips-bottom" title="Bottom Message">Bottom</a>
                                
                                <br /><br />
                                
                            </div>
                            
                        </div>
                        <!-- END Tooltips -->

                            
                            
                            
                        <!-- START Checkbox and Radio Switches -->
                        <div class="simplebox grid360-right">
                        	<div class="titleh"><h3>Checkbox and Radio Switches </h3></div>
                            
                            <div class="body padding30">
                            
                            
                            
                        	<div class="st-tinytitle">
                                <p>example of radio button</p>
                            </div>
                            <div class="padding-bottom0">
                            
                            	<p class="field switch">
                            	<label for="radio1" class="cb-enable selected"><span>Enable</span></label>
                            	<label for="radio2" class="cb-disable"><span>Disable</span></label>
                            	</p>
                                
                            	<br /><br /><br /><br />
                                
                            	<p class="field switch">
                            	<label for="radio1" class="cb-enable selected"><span>Active All Jquery Plugins</span></label>
                            	<label for="radio2" class="cb-disable"><span>Inactive All</span></label>
                            	</p>
                                
                            	<br /><br /><br /><br />
                                
                            	<p class="field switch">
                            	<label class="cb-enable"><span>On</span></label>
                            	<label class="cb-disable selected"><span>Off</span></label>
                                <input type="checkbox" id="checkbox" class="checkbox" name="field2" />
                            	</p>
                             
                             </div>   
                            
                            
                            <div class="clear"></div>
                            </div>
                        </div>
                        <!-- END Checkbox and Radio Switches -->
                        
                        
                        
                        <div class="clear"></div>

                        <!-- start simplebox with shortcuts -->
                        <div class="simplebox grid740">
                        
                        	<div class="titleh">
                            <h3>Simple Box With All Shortcuts</h3>
                            <div class="shortcuts-icons">	
                            	<a class="shortcut tips" href="#" title="Refresh"><img src="img/icons/shortcut/refresh.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Dashboard"><img src="img/icons/shortcut/dashboard.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Add New Item"><img src="img/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Search on This Page"><img src="img/icons/shortcut/search.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Information for this page"><img src="img/icons/shortcut/question.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Ballon"><img src="img/icons/shortcut/ballon.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Clock"><img src="img/icons/shortcut/clock.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Copy"><img src="img/icons/shortcut/copy.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="New File"><img src="img/icons/shortcut/file.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Folder"><img src="img/icons/shortcut/folder.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Message"><img src="img/icons/shortcut/message.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Print This Page"><img src="img/icons/shortcut/print.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Rss"><img src="img/icons/shortcut/rss.png" width="25" height="25" alt="icon" /></a>
                            	<a class="shortcut tips" href="#" title="Tags"><img src="img/icons/shortcut/tags.png" width="25" height="25" alt="icon" /></a>
                            </div>
                            </div>
                            
                            <div class="body">
                            
                            	<p class="padding-in">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit 
                                in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril 
                                delenit augue duis dolore te feugait nulla facilisi.</p>

                            </div>
                            
                        </div>
                        <!-- end simplebox with shortcuts -->


                            
                            
                            
                        <!-- START Loading Gifs -->
                        <div class="simplebox grid450-left">
                        	<div class="titleh"><h3>Loading Gifs</h3></div>
                            
                            <div class="body padding20">
                            
                            
                             	<img src="img/loading/1.gif" alt="icon" style="margin-right:15px;"/>
                             	<img src="img/loading/2.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/3.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/4.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/5.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/6.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/7.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/8.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/9.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/10.gif" alt="icon" style="margin-right:15px;" />
                             	<img src="img/loading/11.gif" alt="icon" style="margin-right:15px;" />
                            
                            
                            <div class="clear"></div>
                            </div>
                        </div>
                        <!-- END Loading Gifs -->
                            
                            
                        <!-- START Buttons -->
                        <div class="simplebox grid270-right">
                        	<div class="titleh"><h3>Css3 Buttons</h3></div>
                            
                            <div class="body padding20"><br />
                            
                            	
                            	<a class="button-blue" href="#">Submit</a>
                            	<a class="button-aqua" href="#">Submit</a>
                            	<a class="button-green" href="#">Submit</a>
                                
                                <br /><br /><br />
                                
                            	<a class="button-gray" href="#">Submit</a>
                            	<a class="button-red" href="#">Submit</a>
                                
                            
                            
                            <br /><br /><br /><div class="clear"></div>
                            </div>
                        </div>
                        <!-- END Buttons -->
                        
                        <div class="clear"></div>
                            
                        
                        
                        
                        
                        
                        
                        
                        
                        <!-- start pagination -->
                        <ul class="pagination">
                        	<li><a href="#">Previous</a></li>
                        	<li><a href="#">1</a></li>
                        	<li><a href="#">2</a></li>
                        	<li><a href="#">3</a></li>
                        	<li><a href="#">4</a></li>
                        	<li><a href="#">5</a></li>
                        	<li><a href="#">6</a></li>
                        	<li><a href="#">7</a></li>
                        	<li><a href="#">8</a></li>
                        	<li><a href="#">9</a></li>
                        	<li><a href="#">Next</a></li>
                        </ul>
                        <!-- end pagination -->   
                           
                           
                           
                            
                            


                        <div class="clear"></div>
                    
                    </div>
                    <!-- END CONTENT -->
                
            
            
            
            
            
            
        </div>
        <!-- END PAGE -->











    <div class="clear"></div>
    </div>
    <!-- END MAIN -->
    
    
    
    
    
    
    <!-- START FOOTER -->
    <div id="footer">
    	<div class="left-column">© Copyright 2012 - All rights reserved.</div>
        <div class="right-column">Cupcake theme by <a href="http://themeforest.net/user/egemem" target="_blank">egemem</a></div>
    </div>
    <!-- END FOOTER -->
    
    
    
    
    





</div>
</body>
</html>
